@charset "utf-8";

@import "settings";
@import "imports";

body {
  margin-top: $marginTopBody;
}

a {
  color: $delired;
}

.sidebar-image {
  width: 80%;
  margin: auto;
}

li.story {
  margin-bottom: .5em;
}

nav.navbar-inverse {
  background-color: #333333;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a {
  color: $delired;
}